.background-image {
  background-image: url("/IMG.png");
  min-height: 32vh;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/IMG.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}

.background-image h1 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: white;
  width: 100%;
}
