.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 32px;
  min-height: 100px;
}

.footer-logo {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.footer-content {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  word-wrap: break-word;
}

@media screen and (max-width: 669px) {
  .footer-content {
    font-size: 18px;
  }
  .footer-logo {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 375px) {
  .footer-content {
    font-size: 12px;
    width: 28%;
    padding-left: 37%;
  }
  .footer-logo {
    margin-bottom: 5px;
  }
  .footer {
    margin-top: 10px;
  }
}
