.appartement-page {
  color: #ff6060;
}

.appartement-page__details {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

@media screen and (max-width: 400px) {
  .appartement-page__details {
    flex-direction: column;
    gap: 10px;
  }
}
