.description {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: left;
  background: #f6f6f673;
  padding: 30px 20px 30px 20px;
  margin-top: 0;
  line-height: 27px;
}

.equipement {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: left;
  background: #f6f6f673;
  padding: 30px 20px 30px 20px;
  margin-top: 0;
}

.chevron {
  font-size: x-large;
  cursor: pointer;
}

/* Assure que chaque section des détails occupe une portion égale de l'espace */
.appartement-page__description,
.appartement-page__equipement {
  flex: 1;
}

/* Assure que les barres de titre occupent toute la largeur */
.appartement-page__description h4,
.appartement-page__equipement h4 {
  width: 100%;
  box-sizing: border-box;
}

.description,
.equipement {
  width: 100%;
  box-sizing: border-box;
}
