.flat {
  display: flex;
  flex-direction: column-reverse;
  flex-basis: 28%;
  color: white;
  border-radius: 10px;
  padding: 20px;
  background-color: #ff6060;
  height: 340px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(10, 10, 10, 0) 42%,
    rgba(4, 4, 4, 0.205) 99.99%,
    rgba(0, 0, 0, 0.5) 100%
  );
  min-width: 200px;
}

.flat-content {
  width: 47%;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: white;
  text-decoration: none;
}

.flat-content:hover {
  cursor: pointer;
}

.flat a {
  text-decoration: none;
}

@media screen and (max-width: 669px) {
  .background-image h1 {
    font-size: 32px;
  }
  /* .background-image {
    justify-content: flex-start;
  } */
}

@media screen and (max-width: 400px) {
  .background-image h1 {
    font-size: 24px;
    padding-left: 20px;
    text-align: left;
    width: 68%;
  }
  .background-image {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 770px) {
  .flat {
    flex-basis: 100%;
  }
}
