.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 20px;
  min-height: 100px;
}

.footer-logo {
  margin-bottom: 5px;
  margin-top: 50px;
}

.footer-content {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
