.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  color: #ff6060;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar li {
  list-style-type: none;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 57px;
}

.navbar a.activeNavLink {
  text-decoration: underline;
}

.navbarLogo {
  flex-shrink: 1;
  min-width: 50px;
}

.navbarLogo img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 669px) {
  .navbar a {
    font-size: 12px;
  }

  .navbar ul {
    gap: 20px;
  }

  .navbar {
    padding: 20px 20px;
  }
}
